body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 14px;
  background-color: #78909C;
}

.container {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: #78909C;
}

.loginForm {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  max-height: 40vh;
  padding-left: 20px;
  padding-right: 20px;
}

.postsArea {
   max-height: 60vh;
   width: inherit;
   max-width: 600px;
   overflow-x: hidden;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 180px;
}

.postForm, .postWrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
}
.postWrapper { 
  box-sizing: border-box;
  background-color: #fff; padding: 14px;
  outline: none;
  border: solid 2px #78909C;
  border-radius: 4px;
}
.postContent{
  width: inherit;
}
.postHeader { padding-left: 14px;}
.postHeader > h5, h6, span {
  color: #292929;
  margin: 0;
}
.postHeader > h5 {
  font-size: 18px;
  margin-bottom: 8px;
}
.postHeader > h6 {
  font-size: 14px;
  font-weight: normal;
}

.postContent > p, a {
  color: #292929;
  margin: 0 auto;
  max-width: inherit;
  padding: 14px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 16px;
}

.postContent > a {
  width: 100%;
  color: #78909C;
  text-align: right;
}
a:visited {
  color: rebeccapurple;
}

.loginTitle, .postsTitle{
  text-align: center;
}
.postsTitle { margin-top: 5px; margin-bottom: 5px;}

.inputField {
  padding-top: 5px;
}

.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.textArea {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #78909C;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.submitButton {
  padding-top: 5px;
}

.btn {
  width: 100%;
  min-width: 280px;
  color: #fff;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #0978c7;
  border-radius: 4px;
  background: #1189de;
  cursor: pointer;
}